#lights .light {
    display: flex;
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    border-radius: 50%;
    opacity: 30%;
}
#settings .pull {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
#settings .pull button, #settings .pull input {
    margin: 0 1rem;
}
#settings .pull .color {
    width: 6rem;
}
#settings .pull button i::before {
    font-size: 1.5rem;
}
#lights .bg-danger.active {
    box-shadow: 0 0 20px red;
    opacity: 100%;
}
#lights .bg-primary.active {
    box-shadow: 0 0 20px blue;
    opacity: 100%;
}
#lights .bg-success.active {
    box-shadow: 0 0 20px green;
    opacity: 100%;
}
